<aside class="page-sidebar">
  <div class="sidebar-panel">
    <h3>Administration</h3>
    <ul>
      <li>
        <a href="{{ '/02_1tableprojection.html' | relative_url }}"{% if page.url == '/02_1tableprojection.html' %} class="active"{% endif %}>
          Table · Projection
        </a>
      </li>
      <li>
        <a href="{{ '/02_2schema.html' | relative_url }}"{% if page.url == '/02_2schema.html' %} class="active"{% endif %}>
          Schema
        </a>
      </li>
      <li>
        <a href="{{ '/02_4profile.html' | relative_url }}"{% if page.url == '/02_4profile.html' %} class="active"{% endif %}>
          Profile
        </a>
      </li>
      <!-- 이 섹션에 다른 페이지가 있다면 위와 같은 형식으로 추가하세요. -->
    </ul>
  </div>
</aside>