<aside class="page-sidebar">
  <div class="sidebar-panel">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="https://docs.vertica.com/26.1.x/en/" target="_blank" rel="noopener"><span aria-hidden="true">⚙ </span> Docs</a></li>
      <li><a href="http://www.gtgsc.com/gtg/sub/bigdata/vertica.php" target="_blank" rel="noopener"><span aria-hidden="true">🏢</span> Partners</a></li>
      <li><a href="{{ '/99Class' | relative_url }}"><span aria-hidden="true">🌱</span> Class</a></li>
      <li><a href="{{ '/99QnA' | relative_url }}"><span aria-hidden="true">❓</span> QnA</a></li>
      <li><a href="{{ '/99Clipboard' | relative_url }}"><span aria-hidden="true">📋</span> Clipboard</a></li>
    </ul>
  </div>
</aside>