<aside class="page-sidebar">
  <div class="sidebar-panel">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="https://docs.vertica.com/26.1.x/en/" target="_blank" rel="noopener"><span aria-hidden="true">⚙️</span> Docs</a></li>
      <li><a href="http://www.gtgsc.com/gtg/sub/bigdata/vertica.php" target="_blank" rel="noopener"><span aria-hidden="true">🏢</span> Partner</a></li>
      <li><a href="{{ '/900etc/901Class' | relative_url }}"><span aria-hidden="true">🌱</span> Class</a></li>
      <li><a href="{{ '/900etc/902QnA' | relative_url }}"><span aria-hidden="true">❓</span> QnA</a></li>
      <!-- <li><a href="{{ '/900etc/903Reference' | relative_url }}"><span aria-hidden="true">🏆</span> Reference</a></li> -->
      <li><a href="{{ '/900etc/904lifecycle' | relative_url }}"><span aria-hidden="true">🗓️</span> Lifecycle</a></li>
    </ul>
  </div>
</aside>
