<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.excerpt | default: site.description }}" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <div class="page-shell">
      {% include header.html %}

      <div class="layout-inner">
        {% include sidebar.html %}

        <main class="site-content">
          {{ content }}
        </main>
		    </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
